<app-search-form (search)="onSearch($event)" (clearSearch)="onClearSearch()"
  (initAdvancedSearch)="onInitAdvancedSearch()">
</app-search-form>

<app-message [pageData]="pageData"></app-message>

<app-loading [pageData]="pageData"></app-loading>

@if (!pageData.loading()) {
<mat-card class="main-table">
  <mat-card-content>
    <table mat-table [dataSource]="data" class="mat-elevation-z8 contacts-table">
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let element">
          {{element?.username}}
        </td>
      </ng-container>
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef>Full Name</th>
        <td mat-cell *matCellDef="let element">
          @if(element?.ownerType === 'CORPORATE') {
          <mat-icon>person</mat-icon>
          } @else {
          <mat-icon>business</mat-icon>
          }
          {{ContactHelper.getFullName(element?.user?.contact)}}
        </td>
      </ng-container>
      <!-- Email Column -->
      <ng-container matColumnDef="defaultEmail">
        <th mat-header-cell *matHeaderCellDef>Default Email</th>
        <td mat-cell *matCellDef="let element">{{ContactHelper.getDefaultContactEmail(element?.user?.contact)?.email}}
        </td>
      </ng-container>
      <!-- Phone Column -->
      <ng-container matColumnDef="defaultPhone">
        <th mat-header-cell *matHeaderCellDef>Default Phone</th>
        <td mat-cell *matCellDef="let element">{{ContactHelper.getDefaultContactPhone(element?.user?.contact)?.phone}}
        </td>
      </ng-container>
      <!-- Address Column -->
      <ng-container matColumnDef="defaultAddress">
        <th mat-header-cell *matHeaderCellDef>Default Address</th>
        <td mat-cell *matCellDef="let element">
          {{ContactHelper.getDefaultContactAddress(element?.user?.contact)?.address}}</td>
      </ng-container>
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null"
            [checked]="selection.isSelected(element)" [aria-label]="checkboxLabel(element)">
          </mat-checkbox>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      (page)="handlePageEvent($event)" [length]="searchResult.searchInfos.total" [pageIndex]="searchCriteria.pageIndex"
      [pageSize]="searchCriteria.pageSize" showFirstLastButtons>
    </mat-paginator>
  </mat-card-footer>
</mat-card>
}