<h2 mat-dialog-title>Change Status</h2>

<mat-dialog-content>
  <p><strong>{{ title }}</strong></p>
  <app-message [pageData]="pageData"></app-message>

  <app-loading [pageData]="pageData"></app-loading>
  @if (!pageData.loading()) {
  <form [formGroup]="form" class="change-status-form">

    <mat-form-field appearance="outline" class="form-field full-width">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        @for (status of statuses; track $index) {
        <mat-option [value]="status">{{ status }}</mat-option>
        }
      </mat-select>
      @if(form.get('status')?.hasError('required')) {
      <mat-error>Status is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field full-width">
      <mat-label>Change Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="statusDate" placeholder="Enter change date" />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      @if(form.get('statusDate')?.hasError('required')) {
      <mat-error>Change date is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field full-width">
      <mat-label>Reason</mat-label>
      <textarea matInput formControlName="statusReason" placeholder="Enter reason for status change"
        rows="3"></textarea>
    </mat-form-field>
  </form>
  }

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button (click)="onCancel()">
    <mat-icon>cancel</mat-icon>Cancel
  </button>
  <button mat-raised-button color="primary" (click)="onConfirm()">
    <mat-icon>check</mat-icon>Change Status
  </button>
</mat-dialog-actions>