<h2 mat-dialog-title class="dialog-title-with-icon">
  <mat-icon>warning</mat-icon>
  {{ title }}
</h2>

<mat-dialog-content>
  <p>{{ warningMessage }}</p>
  <p class="warning-text">This action cannot be undone.</p>
  <app-message [pageData]="pageData"></app-message>
  <app-loading [pageData]="pageData"></app-loading>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button (click)="onCancel()" [disabled]="pageData.loading()">
    <mat-icon>cancel</mat-icon>Cancel
  </button>
  <button mat-raised-button color="warn" (click)="onConfirmDelete()" [disabled]="pageData.loading()">
    <mat-icon>delete</mat-icon>Delete
  </button>
</mat-dialog-actions>
