<div class="main-container account-edit-container">

  <!-- Header -->
  <div class="main-header">
    <h1 class="title">
      <mat-icon mat-card-avatar>business</mat-icon>
      @if(isCreateMode){<span>Create Account</span>}
      @if(isEditMode){<span>Edit Account</span>}
      @if(isViewMode){<span>View Account</span>}
    </h1>

    <div class="header-actions">
      <button mat-raised-button (click)="onBack()" type="button">
        <mat-icon>arrow_back</mat-icon>Back
      </button>

      @if(showCancelButton){
      <button mat-raised-button (click)="onCancel()">
        <mat-icon>cancel</mat-icon>
        Cancel
      </button>
      }
      
      @if(showSaveButton){
      <button mat-raised-button color="primary" (click)="onSave()" [disabled]="pageData.loading() || isInvalidForm">
        <mat-icon>save</mat-icon>
        Save
      </button>
      }
      
      @if(showCreateButton){
      <button mat-raised-button color="primary" (click)="onCreate()" [disabled]="pageData.loading()">
        <mat-icon>add</mat-icon>
        Create
      </button>
      }

      @if(showEditButton){
      <button mat-raised-button color="primary" (click)="onEdit()" [disabled]="pageData.loading()">
        <mat-icon>edit</mat-icon>
        Edit
      </button>
      }

      @if(showDuplicateButton){
      <button mat-raised-button color="accent" (click)="onDuplicate()" [disabled]="pageData.loading()">
        <mat-icon>content_copy</mat-icon>
        Duplicate
      </button>
      }

      @if(showDeleteButton){
      <button mat-raised-button color="warn" (click)="onDelete()" [disabled]="pageData.loading()">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
      }

      @if(showChangeStatusButton){
      <button mat-raised-button (click)="onChangeStatus()" type="button" [disabled]="pageData.loading()">
        <mat-icon>swap_horiz</mat-icon>Change Status
      </button>
      }
      
    </div>
  </div>

  @if (pageData.error() && !pageData.loading() ) {
  <div class="error-message">
    <mat-card>
      <mat-icon color="warn">error</mat-icon>
      <p>{{ pageData.error() }}</p>
    </mat-card>
  </div>
  }

  @if (pageData.loading()) {
  <div class="loading-section">
    <mat-spinner></mat-spinner>
    <p>Saving account...</p>
  </div>
  } @else {
  <mat-tab-group>
    <mat-tab label="Account Details">
      <app-edit-account-details [form]="mainForm"></app-edit-account-details>
      <app-edit-principal-account-contact [form]="primaryAccountContactForm"></app-edit-principal-account-contact>
      @if(isCreateMode){
      <app-edit-account-admin-user [form]="adminUserForm"></app-edit-account-admin-user>
      }
    </mat-tab>
    <mat-tab label="Other Account Contacts">
      To DO
    </mat-tab>
  </mat-tab-group>

  }
</div>