<div class="main-container accounts-container">

  <div class="main-header">
    <h1 class="title">
      <mat-icon mat-card-avatar>business</mat-icon>
      <span>Accounts Management</span>
    </h1>
    <button mat-raised-button color="primary" (click)="createAction()">
      <mat-icon>add</mat-icon>Add Account
    </button>
  </div>

  <app-search-form 
    (search)="onSearch($event)" 
    (clearSearch)="onClearSearch()" 
    (initAdvancedSearch)="onInitAdvancedASearch()">
  </app-search-form>

  @if (pageData.error && !pageData.loading) {

  <div class="info-message">
    <mat-card>
      <mat-icon>info</mat-icon>
      <p>{{ pageData.error }}</p>
    </mat-card>
  </div>

  }

  @if (pageData.loading) {

  <div class="loading-section">
    <mat-spinner></mat-spinner>
    <p>Loading accounts...</p>
  </div>

  } @else {
  <mat-card class="main-table">
    <mat-card-content>
      <table mat-table [dataSource]="data" class="mat-elevation-z8 accounts-table">
        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>
            <button mat-button (click)="sortBy('name')">
              <mat-icon>{{getFieldSortIcon('name')}}</mat-icon>Name
            </button>
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" (click)="viewAction(element)">
              {{element.name}}
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>
            @if(isSortable('status')) {
            <button mat-button (click)="sortBy('status')">
              <mat-icon>{{getFieldSortIcon('status')}}</mat-icon>Status
            </button>
            }@else {
            Status
            }
          </th>
          <td mat-cell *matCellDef="let element">
            <span class="status-chip" [class.active]="element.status === 'ACTIVE'"
              [class.blocked]="element.status === 'BLOCKED'">
              {{element.status}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef>
            @if(isSortable('fullName')) {
            <button mat-button (click)="sortBy('fullName')">
              <mat-icon>{{getFieldSortIcon('fullName')}}</mat-icon>Full Name
            </button>
            }@else {
            Full Name
            }
          </th>
          <td mat-cell *matCellDef="let element">{{PlatformHelper.getPrimaryAccountContactFullName(element)}}</td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>
            @if(isSortable('email')) {
            <button mat-button (click)="sortBy('email')">
              <mat-icon>{{getFieldSortIcon('email')}}</mat-icon>Email
            </button>
            }@else {
            Email
            }
          </th>
          <td mat-cell *matCellDef="let element">{{PlatformHelper.getPrimaryAccountContactEmail(element)?.email}}</td>
        </ng-container>
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>
            @if(isSortable('phone')) {
            <button mat-button (click)="sortBy('phone')">
              <mat-icon>{{getFieldSortIcon('phone')}}</mat-icon>Phone
            </button>
            }@else {
            Phone
            }
          </th>
          <td mat-cell *matCellDef="let element">{{PlatformHelper.getPrimaryAccountContactPhone(element)?.phone}}</td>
        </ng-container>
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>
            @if(isSortable('address')) {
            <button mat-button (click)="sortBy('address')">
              <mat-icon>{{getFieldSortIcon('address')}}</mat-icon>Address
            </button>
            }@else {
            Address
            }
          </th>
          <td mat-cell *matCellDef="let element">{{PlatformHelper.getPrimaryAccountContactAddress(element)?.address}}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>
            Actions
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" (click)="editAction(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button color="primary" [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item color="primary" (click)="viewAction(element)">
                <mat-icon>visibility</mat-icon>View Details
              </button>
              <button mat-menu-item (click)="duplicateAction(element)">
                <mat-icon>content_copy</mat-icon>Duplicate
              </button>
              <button mat-menu-item (click)="changeStatusAction(element)">
                <mat-icon>swap_horiz</mat-icon>Change Status
              </button>
              <button mat-menu-item color="warn" (click)="deleteAction(element)">
                <mat-icon>delete</mat-icon>Delete
              </button>
              <mat-divider></mat-divider>
              <button mat-menu-item color="warn">
                <mat-icon>contacts</mat-icon>Account Contacts
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <!-- Begin -->
        <ng-container matColumnDef="first-cols">
          <th mat-header-cell *matHeaderCellDef colspan="2"></th>
        </ng-container>

        <!-- Primary Contact Columns -->
        <ng-container matColumnDef="primary-contact">
          <th mat-header-cell *matHeaderCellDef style="border-bottom-width: 3px;" colspan="4">Primary Contact</th>
        </ng-container>

        <!-- Actions columns -->
        <ng-container matColumnDef="actions-col">
          <th mat-header-cell *matHeaderCellDef></th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['first-cols', 'primary-contact', 'actions-col']"></tr>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
    <mat-card-footer>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
        (page)="handlePageEvent($event)" 
        [length]="searchResult.searchInfos.total"
        [pageIndex]="searchCriteria.pageIndex" 
        [pageSize]="searchCriteria.pageSize" 
        showFirstLastButtons
        aria-label="Select page of periodic elements">
      </mat-paginator>
    </mat-card-footer>
  </mat-card>

  }
</div>