<div class="main-container roles-container">

  <div class="main-header">
    <h1 class="title">
      <mat-icon mat-card-avatar>role</mat-icon>
      <span>Roles Management</span>
    </h1>
    <button mat-raised-button color="primary" (click)="createRole()">
      <mat-icon>add</mat-icon>
      Add Role
    </button>
  </div>

  @if (error && !loading) {
  <div class="info-message">
    <mat-card>
      <mat-icon>info</mat-icon>
      <p>{{ error }}</p>
    </mat-card>
  </div>
  }

  @if (loading) {
  <div class="loading-section">
    <mat-spinner></mat-spinner>
    <p>Loading roles...</p>
  </div>
  } @else {
  <mat-card class="main-table">
    <mat-card-content>
      <table mat-table [dataSource]="data" class="mat-elevation-z8 roles-table">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" (click)="viewRole(element)">
              <mat-icon>role</mat-icon>
              {{element?.name}}
            </button>
          </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element">{{element?.description}}</td>
        </ng-container>

        <!-- Holder Type Column -->
        <ng-container matColumnDef="holderType">
          <th mat-header-cell *matHeaderCellDef>Holder Type</th>
          <td mat-cell *matCellDef="let element">{{element?.holderType}}</td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="viewRole(element)" matTooltip="View">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="editRole(element)" matTooltip="Edit">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteRole(element)" matTooltip="Delete">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>

    <mat-card-footer>
      <mat-paginator style="background-color: transparent;" [pageSizeOptions]="[5, 10, 20]"
        (page)="handlePageEvent($event)" [length]="searchResult.searchInfos?.total"
        [pageIndex]="searchCriteria.pageIndex" [pageSize]="searchCriteria.pageSize" showFirstLastButtons
        aria-label="Select page">
      </mat-paginator>
    </mat-card-footer>
  </mat-card>
  }
</div>
