<div class="main-container roles-container">

  <div class="main-header">
    <h1 class="title">
      <mat-icon mat-card-avatar>assignment_ind</mat-icon>
      <span>Roles Management</span>
    </h1>
    <button mat-raised-button color="primary" (click)="createAction()">
      <mat-icon>add</mat-icon>
      Add Role
    </button>
  </div>

  <app-search-form 
    (search)="onSearch($event)" 
    (clearSearch)="onClearSearch()" 
    (initAdvancedSearch)="onInitAdvancedSearch()">
  </app-search-form>

  @if (pageData.error() && !pageData.loading()) {

  <div class="info-message">
    <mat-card>
      <mat-icon>info</mat-icon>
      <p>{{ pageData.error() }}</p>
    </mat-card>
  </div>

  }

  @if (pageData.loading()) {

  <div class="loading-section">
    <mat-spinner></mat-spinner>
    <p>Loading roles...</p>
  </div>

  } @else {
  <mat-card class="main-table">
    <mat-card-content>
      <table mat-table [dataSource]="data" class="mat-elevation-z8 roles-table">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" (click)="viewAction(element)">
              <mat-icon>assignment_ind</mat-icon>
              {{element.name}}
            </button>
          </td>
        </ng-container>
        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element">{{element.description}}</td>
        </ng-container>
        <!-- Holder Type Column -->
        <ng-container matColumnDef="holderType">
          <th mat-header-cell *matHeaderCellDef>Holder Type</th>
          <td mat-cell *matCellDef="let element">{{element.holderType}}</td>
        </ng-container>
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" (click)="editAction(element)">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-button color="primary" [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item color="primary" (click)="viewAction(element)">
                <mat-icon>visibility</mat-icon>
                View Details
              </button>
              <button mat-menu-item color="accent" (click)="duplicateAction(element)">
                <mat-icon>content_copy</mat-icon>
                Duplicate
              </button>
              <button mat-menu-item color="warn" (click)="deleteAction(element)">
                <mat-icon>delete</mat-icon>
                Delete
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>

    <mat-card-footer>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
        (page)="handlePageEvent($event)" [length]="searchResult.searchInfos.total"
        [pageIndex]="searchCriteria.pageIndex" [pageSize]="searchCriteria.pageSize" showFirstLastButtons
        aria-label="Select page of periodic elements">
      </mat-paginator>
    </mat-card-footer>
  </mat-card>

  }
</div>